.typing {
  font-family: "Source Code Pro", monospace;
  font-size: 3em;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  height: 70%;
  max-width: 70%;
  padding: 4rem 1rem;
  margin: 4rem auto;

  background-color: var(--bg-white);

  border-radius: 20px;
  /* Smooth boz shadow */
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile > img {
  width: 400px;
  height: 400px;
}

.social-menu {
  grid-column: 1/-1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.social-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%;
  margin: 0%;
}

.social-menu ul li {
  list-style: none;
  margin: 0 15px;
}

.social-menu ul li .fab {
  font-size: 30px;
  line-height: 60px;
  transition: 0.3s;
  color: #000;
}

.social-menu ul li .fab:hover {
  color: #fff;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
  transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #000;
}

/* Add media querie for smartphones */
@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .profile {
    grid-column: 1/-1;
  }

  .profile > img {
    width: 200px;
    height: 200px;
  }

  .typing {
    grid-column: 1/-1;
    font-size: 2em !important;
    text-align: center;
  }
  .social-menu {
    grid-column: 1/-1;
  }
}
