:root {
  --bg-white: #f5f5f5;
}

body {
  background-image: linear-gradient(
    95.2deg,
    rgba(173, 252, 234, 1) 26.8%,
    rgba(192, 229, 246, 1) 64%
  );
}

footer {
  background-color: var(--bg-white);
}

.nav {
  background-color: var(--bg-white);
}