.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    padding: 4rem 1rem;
    margin: 4rem auto;
  
    background-color: var(--bg-white);
  
    border-radius: 20px;
    /* Smooth boz shadow */
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
  }