.container {
    display: flex;
    justify-content:  center;
    align-items: center;
    height: 70%;
    padding: 5rem 1rem;
    margin: 4rem auto;
  
    background-color: var(--bg-white);
  
    border-radius: 20px;
    /* Smooth boz shadow */
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
  }

  iframe {
    width: 70%;
    height: 100%;
    border-radius: 15px;
    border: none;
  }

  h1 {
    font-family: "Source Code Pro", monospace;
    font-size: 2em;
    padding: 4rem;
  }