{% extends "layouts/base.layout.html" %} {% block styles %}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap" rel="stylesheet" />
<link href="{{url_for('static', filename='css/about.css')}}" rel="stylesheet" />

{% endblock %} {% block content %}
<!-- about me -->
<div class="container">
  <div class="profile">
    <!-- user image -->
    <img src="{{url_for('static', filename='img/marlene.jpeg')}}" class="rounded-circle" />
  </div>

  <div class="typing" id="type">
  </div>
  <div class="social-menu">
    <ul>
      <li><a href="https://github.com/marleneharms" target="blank"><i class="fab fa-github"></i></i></a></li>
      <li><a href="https://www.instagram.com/lenyharms/" target="blank"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://www.linkedin.com/in/marlene-harms/" target="blank"><i class="fab fa-linkedin-in"></i></a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}


{% block scripts %}
<script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<script src="{{url_for('static', filename='js/type.js')}}"></script>
{% endblock %}