{% extends "layouts/base.layout.html" %} {% block styles %}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap"
  rel="stylesheet"
/>
<link href="{{url_for('static', filename='css/about.css')}}" rel="stylesheet" />
{% endblock %} 

{% block content %}
<!-- about me -->
<div class="container">
  <div class="column">
    <!-- user image -->
    <div class="row justify-content-center m-4">
      <img src="{{url_for('static', filename='img/marlene.jpeg')}}"
      class="rounded-circle" width="200" height="200" " />
    </div>

    <div class="row justify-content-center m-4" id="type"></div>
  </div>

  {% endblock %}
