{% extends "layouts/base.layout.html" %} {% block content %}

<!-- about me -->
<div class="container">
  <div class="column">
    <!-- user image -->
    <div class="row justify-content-center m-4">
      <img src="..." width="200" height="200" class="rounded" />
    </div>

    <!-- school name -->
    <div class="row justify-content-center m-4">
      <p class="h2 text-white">University Name</p>
    </div>

    <!-- content -->
    <div class="row justify-content-center m-4">
      <p class="h3 text-white">About Me</p>
    </div>

    <div class="row justify-content-center m-4">
      <p class="text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et maxime
        accusantium nisi labore sequi iusto consequatur ipsam repellendus
        distinctio cupiditate minima ab facere cum esse, id ea? Sequi,
        voluptatibus eum. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Nostrum labore facere recusandae, nobis velit quo exercitationem
        aliquam distinctio voluptatem rem dolorem quisquam error, nulla et
        reiciendis mollitia blanditiis? Veritatis, magni. Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Aliquam unde, ad quaerat vitae eos
        laudantium error voluptatum autem, quisquam architecto dolores in
        dolorum necessitatibus minima, temporibus eum. Magni, dolorum quos?
      </p>
    </div>
  </div>
</div>

{% endblock %}
