{% extends "layouts/base.layout.html" %}
{% block content %}

<div class="container">
  <div class="col">

      <div class="row justify-content-center">
        <img class="rounded-circle border-none shadow-lg m-4" src="{{url_for('static', filename='img/mateo.jpeg')}}"/>
      </div>

      <div class="row justify-content-center">
        <p class="h1">Mateo Martinez</p>
      </div>

      <div class="row justify-content-center m-4">
        <div class="card shadow-lg border-white text-center" >
          <div class="card-body">
            <p class="card-text">💻 {{ indexData['intro'] }} 📱</p>
            <!-- <p class="card-text h1"></p> -->
            <p class="card-text">🐔 Based in the 956 🐔</p>
          </div>
        </div>
      </div>
    
  </div>
</div> 

{% endblock %}
