{% extends "layouts/base.layout.html" %} {% block styles %}
<link
  href="{{url_for('static', filename='css/hobbies.css')}}"
  rel="stylesheet"
/>
{% endblock %} {% block content %}
<div class="container">
  <div class="card border-dark mb-3" style="width: 18rem">
    <img
      src="{{url_for('static', filename='img/cinnamoroll.jpg')}}"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Mateo Martinez</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="{{ url_for('about') }}" class="btn btn-primary"
        >Learn More About Me</a
      >
    </div>
  </div>

  <div class="card border-dark mb-3" style="width: 18rem">
    <img
      src="{{url_for('static', filename='img/mymelo.jpg')}}"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="{{ url_for('about') }}" class="btn btn-primary"
        >Learn More About Me</a
      >
    </div>
  </div>

  <div class="card border-dark mb-3" style="width: 18rem">
    <img
      src="{{url_for('static', filename='img/hello.jpg')}}"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="{{ url_for('about') }}" class="btn btn-primary"
        >Learn More About Me</a
      >
    </div>
  </div>
</div>

{% endblock %}
