{% extends "layouts/base.layout.html" %} 
{% block content %}

<div class="container">
  <div class="col">
      <div class="row justify-content-center">
          <img class="rounded-circle border-none shadow-lg m-4" src="{{url_for('static', filename='img/mateo.jpeg')}}"/>
      </div>

      <div class="row justify-content-center">
        <p class="h1">Places I've Been</p>
      </div>

      <div class="row justify-content-center mb-5">
        <div class="embed-responsive embed-responsive-16by9 shadow-lg rounded-lg m-5">
          <iframe src="{{ placesData['map'] }}" class="embed-responsive-item" ></iframe>
        </div>
      </div>
        
      
  </div>
</div>

{% endblock %}
