{% extends "layouts/base.layout.html" %} {% block content %}

<div class="container">
  <div class="column">
    <!-- content -->
    <div class="row justify-content-center">
      <p class="h3 text-white">Places Person Has Been</p>
    </div>

    <div class="container m-5">
      <div class="column">
        <div class="row justify-content-center">
          <iframe src="{{ maps['marlene'] }}" width="1000" height="800"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
