{% extends "layouts/base.layout.html" %} {% block styles %}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap" rel="stylesheet" />
<link
  href="{{url_for('static', filename='css/places.css')}}"
  rel="stylesheet"
/>
{% endblock %} {% block content %}

<div class="container">
  <!-- <h1>Here are some places I have visited!</h1> -->
</div>

{% endblock %}
