{% extends "layouts/base.layout.html" %} {% block styles %}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap"
  rel="stylesheet"
/>
<link
  href="{{url_for('static', filename='css/experience.css')}}"
  rel="stylesheet"
/>

{% endblock %} {% block content %}

<div class="container">
  <h1>Timeline</h1>
  <!-- On this page, please add a form that accepts inputs and makes a POST request to our /api/timeline_post endpoint to create a timeline post. -->

    <form action="/api/timeline_post" method="POST">
        <div class="form-group">
        <label for="exampleFormControlInput1">Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title">
        </div>
        <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</div>

{% endblock %}
