{% extends "layouts/base.layout.html" %} {% block styles %}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap"
  rel="stylesheet"
/>
<link
  href="{{url_for('static', filename='css/experience.css')}}"
  rel="stylesheet"
/>

{% endblock %} {% block content %}

<div class="container">
  <h1>Timeline</h1>

  <form id="form">
    <div class="form-group">
      <label>Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="your name"
        name="name"
      />
    </div>
    <div class="form-group">
      <label>Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        placeholder="name@example.com"
        name="email"
      />
    </div>
    <div class="form-group">
      <label>Content</label>
      <input
        type="text"
        class="form-control"
        id="content"
        placeholder="content"
        name="content"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <!-- show the newly added timeline post -->

  <!-- <h1>Timeline Data</h1>
  <div class="card border-dark mb-3" style="width: 18rem">
    <div class="card-body">
      <div class="row justify-content-center m-3">
        <div class="col">
          {% for info in data.timeline_posts %}
          <div
            class="card border-none text-center shadow-lg mb-5"
            id="mytimeline"
          >
            <p class="card-text m-2">
              <span class="text-danger">Name</span> {{info['name']}}
            </p>
            <p class="card-text m-2">
              <span class="text-danger">Email</span> {{info['email']}}
            </p>
            <p class="card-text m-2">
              <span class="text-danger">Content</span> {{info['content']}}
            </p>
            <p class="card-text m-2">
              <span class="text-danger">Created At</span> {{info['created_at']}}
            </p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div> -->
</div>
<script>
  const form = document.getElementById("form");

  form.addEventListener("submit", function (e) {
    e.preventDefault();

    const payload = new FormData(form);

    fetch('/api/timeline_post', {
      method: "POST",
      body: payload,
    }).then(() => {
      window.location.reload();
    });
  });
</script>

{% endblock %}
